@font-face {
  font-family: 'Optician-Sans';
  src: local('Optician-Sans'), url(./assets/Optician-Sans.woff), format('woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: "Optician-Sans", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
